body{
    background-color: #ccc;
}
.top{
    width: 1200px;
    height: 600px;
    margin: 0 auto;
    background-color: #333646;
    position: relative;
    overflow: hidden;
}
.top img{
    position: absolute;
    top: 0;
    left: 120px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.top h3{
    position: absolute;
    top: 200px;
    left: 175px;
    color: #fff;
    width: 40px;
    font-size: 6em;
    border-bottom: 8px solid #ffc25c;
}
.top .one{
    position: absolute;
    top: 70px;
    left: 175px;
}
.top .one span{
    color: #ffc25c;
    font-size: 3em;
}
.top .foot{
    display: flex;
    position: absolute;
    top: 450px;
    left: 175px;
}
.top .foot div{
    margin: 0 10px;
}
.top .foot div span{
    color: #fff;
    font-size: 1.5em;
}
.header_right{
    position: absolute;
    top: 80px;
    left: 750px;
}
.header_right ul{
    display: flex;
    /* background-color: #ffc25c; */
}
.header_right ul li{
    /* width: 300px; */
    margin-right: 10px;
    background-color: #333646;
}
.header_right ul li a{
    font-size: 1.8em;
    color: #696b76;
    line-height: 30px;
}
.header_right ul li span{
    margin: 30px;
    font-size: 1em;
    opacity: 0;
}
.header_right ul li a:hover{
    color: #fff;
    /* border-bottom: 3px dotted #ffc25c; */
}
.header_right ul li a:hover span{
    color: #ffc25c;
    opacity: 1;
}
.header_right .top_nav_div{
    z-index: 1;
    position: absolute;
    left: 0;
    top: 80px;
    flex: 1;
    width: 500px;
    opacity: 1;
    transition: all 0.25s ease 0s;
}
.header_right .nav_item p{
    font-size: 0.7em;
    color: #696b76;
    margin-top: 25px;
    width: 330px;
    line-height: 30px;
}
.header_right .nav_item h2{
    font-size: 1.8em;
    color: #fff;
    line-height: 45px;
    margin-top: 17px;
    width: 330px;
    background-color: #333646;
}
.header_right .nav_item h4{
    font-size: 1.3em;
    color: #ffc25c;
    margin-top: 50px;
}
.header_right .nav_item h4:hover span{
    opacity: 1;
}
.header_right ul li:hover .top_nav_div{
    z-index: 2;
}

.banner{
    width: 1200px;
    height: 600px;
    margin: auto;
    background-color: #252734;
    position: relative;
    display: flex;
}
.banner .left{
    position: absolute;
    top: 100px;
    left: 175px;
    width: 240px;
}
.banner .left span{
    color: #696b76;
    font-size: 0.8em;
}
.banner .left h3{
    color: #fff;
    margin-top: 40px;
    line-height: 22px;
}
.banner .left p{
    color: #696b76;
    margin-top: 40px;
    line-height: 20px;
    font-size: 0.7em;
}
.banner .left h4{
    color: #ffc25c;
    margin-top: 50px;
    font-size: 0.8em;
    width: 70px;
    line-height: 20px;
    border-bottom: 3px solid #ffc25c;
}
.banner .left h4 a{
    color: #ffc25c;
}
.banner .right{
    position: absolute;
    top: 100px;
    left: 600px;
    width: 400px;
}
.banner .right h3{
    color: #fff;
    font-size: 1.5em;
    line-height: 33px;
}
.banner .right p{
    margin-top: 40px;
    color: #696b76;
    font-size: 0.7em;
    line-height: 20px;
}
.banner .right h4{
    margin-top: 40px;
    color: #ffc25c;
    font-size: 1.8em;
    width: 30px;
    border-bottom: 3px solid #ffc25c;
}
.banner .right span{
    color: #ffc25c;
}

.bo{
    position: absolute;
    top: 1070px;
    left: 333px;
    display: flex;
    flex: 1;
}
.bo div{
    width: 265px;
    height: 265px;
    background-color: #424657;
    margin-right: 30px;
    z-index: 2;
    position: relative;
}
.bo div:hover{
    background-color: #ffc25c;
}
.bo div span{
    color: #fff;
    font-size: 2em;
    position: absolute;
    top:120px;
    left: 40px;
}
.bo div a{
    font-size: 1.5em;
    color: #fff;
    position: absolute;
    top: 115px;
    left: 90px;
    line-height: 30px;
}
.main{
    width: 1200px;
    height: 1500px;
    margin: auto;
    background-color: #333646;
    position: relative;
}
.main #one{
    margin: 240px 225px;
    opacity: 0.2;
}
.img_box{
    opacity: 1;
}
.img_box #two{
    position: absolute;
    top: 525px;
    left: 675px;
}
.img_box #three{
    position: absolute;
    top: 825px;
    left: 175px;
}
.img_box #four{
    position: absolute;
    top: 1075px;
    left: 675px;
}
.main_left{
    position: absolute;
    top: 525px;
    left: 175px;
}
.main_left span{
    color: #696b76;
    font-size: 0.8em;
}
.main_left h3{
     color: #fff;
    font-size: 1.5em;
    line-height: 33px;
    margin-top: 20px;
}
.main_left p{
    margin-top: 40px;
    color: #696b76;
    font-size: 0.7em;
    line-height: 20px;
    width: 300px;
}
.main_left h4{
    margin-top: 40px;
    color: #ffc25c;
    font-size: 1em;
    width: 102px;
    border-bottom: 2px solid #ffc25c;
}
.leg{
    width: 1200px;
    height: 935px;
    margin: auto;
    background-color: #252734;
    position: relative;
}
.leg .left{
    position: absolute;
    top: 145px;
    left: 175px;
    width: 218px;
    height: 725px;
}
.leg .left span{
    color: #696b76;
    font-size: 0.8em;
}
.leg .left h3{
    color: #fff;
    font-size: 1.5em;
    line-height: 33px;
    margin-top: 20px;
}
.leg .left #img_box{
    position: absolute;
    top: 350px;
    left: 0;
    width: 265px;
    height: 340px;
    overflow: hidden;
}
.leg .left img{
    height: 100%;
}
.leg .right{
    position: absolute;
    top: 145px;
    left: 535px;
}
.leg .right p{
    line-height: 70px;
    border-bottom: 1px solid #333646;
}
.leg .right p span{
    color: #696b76;
    font-size: 0.8em;
    margin-right: 70px;
}
.leg .right p a{
    color: #fff;
    /* margin-left: 40px; */
}

.leg .right #section{
    position: absolute;
    top: 350px;
    left: 0;
    width: 600px;
}
.leg .right #section a{
    color: #ffc25c;
}
.leg .right #section a h2{
    color: #fff;
    font-size: 2em;
    line-height: 50px;
}
.leg .right #section a h3{
    color: #ccc;
}

.footer{
    width: 1200px;
    height: 820px;
    margin: auto;
    background-color: #333646;
    position: relative;
}
.footer .left{
    position: absolute;
    top: 110px;
    left: 175px;
    width: 260px;
}
.footer .left h3{
     color: #fff;
    font-size: 1.5em;
    line-height: 33px;
    margin-top: 20px;
}
.footer .left p{
    margin-top: 40px;
    color: #696b76;
    font-size: 0.7em;
    line-height: 20px;
    width: 300px;
}
.footer .left h4{
    margin-top: 40px;
    color: #ffc25c;
    font-size: 1em;
    width: 86px;
    line-height: 25px;
    border-bottom: 2px solid #ffc25c;
}
.footer .left h4 a{
    color: #ffc25c;
}
.footer .right{
    position: absolute;
    top: 110px;
    left: 610px;
    width: 400px;
}
.footer .right span{
    color: #fff;
    font-size: 1.8em;
    line-height: 40px;
}
.footer .right p{
    color: #fff;
    font-size: 1em;
    line-height: 80px;
    border-bottom: 1px solid #505260;
    /* margin: 30px; */
}
.footer .final{
    position: absolute;
    top: 570px;
    left: 560px;
    width: 300px;
    position: relative;
    display: flex;
}
.footer .final .one span{
    color: #ffc25c;
    font-size: 4em;
}
.footer .final p{
    color: #fff;
    font-size: 0.6em;
    position: absolute;
    top: 100px;
    left: -60px;
}
.footer .final #last{
    display: flex;
    position: absolute;
    top: 160px;
    left: -20px;
}
.footer .final #last div{
    margin-right: 30px;
    
}
.footer .final #last div span{
    color: #fff;
}