<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>个人网站</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="https://at.alicdn.com/t/c/font_3805427_1hicxsfp3cci.css">
    <!-- <link rel="stylesheet" href="reset.css"> -->
</head>
<body>
    <div class="inner">
        <div class="sousuo"><span class="iconfont icon-sousuo"></span>
            <div class="sou">
                <input type="text" placeholder="Go to Bing...">
                <form action="https://bing.com">
                    <button><span class="iconfont icon-sousuo"></span></button>
                </form>
            </div>
        </div>
        <div class="weixin"><span class="iconfont icon-weixin"></span>
            <div class="wei">
                <img src="img/weixin.png" alt="找不到图片咯">
            </div>
        </div>
        <div class="qq_main"><span class="iconfont icon-qq"></span>
            <div class="qq">
                <img src="img/qq.png" alt=">>>>">
            </div>
        </div>
        <div class="shouji"><span class="iconfont icon-shouji"></span>
            <div class="nmb">
                <p>130 9432 7971</p>
            </div>
        </div>
    </div>   
    <div class="background">
        <video src="https://assets.mixkit.co/videos/preview/mixkit-floating-colored-cloud-shaped-surfaces-32882-large.mp4" autoplay loop muted></video>
    </div>
    <div class="top">
        <div class="logo"><span class="iconfont icon-fingerprint-full"></span></div>
        <div class="My_name"><span>zg949a</span></div>
    </div>
    <div class="button">
        <p>(以下是分类导航)</p>
        <ul>
            <li class="one"><span class="iconfont icon-tiaozhuan"></span><a href="./main.html">网站收藏</a></li>
            <li class="two"><span class="iconfont icon-tiaozhuan"></span><a href="./main.html">个人首页</a></li>
            <li class="three"><span class="iconfont icon-tiaozhuan"></span><a href="./main.html">设计模板</a></li>
        </ul>
    </div>
</body>
</html>