<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="https://at.alicdn.com/t/c/font_3805427_5wbt3j5l51p.css">
    <title>个人首页</title>
</head>
<body>
    <header>
        <div class="top">
            <img src="../static/img/pexels-pixabay-90764.jpg" alt="">
            <div class="one"><span class="iconfont icon-a-weixiaokaixingaoxing-16"></span></div>
            <h3>zg949a</h3>
            <div class="foot">
                <div class="two"><span class="iconfont icon-lanqiu"></span></div>
                <div class="three"><span class="iconfont icon-yinle"></span></div>
                <div class="four"><span class="iconfont icon-sousuo"></span></div>
            </div>
        <div class="header_right">
            <nav>
                <ul>
                    <li>
                        <a href="#">Person<br><span class="iconfont icon-dot"></span></a>
                        <div class="top_nav_div">
                            <div class="top_nav">
                                <div class="nav_item">
                                    <ol>
                                        <li><p>— 个人简介</p></li>
                                        <li><h2>进修计算机科学与技术专业，兼职平面设计</h2></li>
                                        <li><p>要从孩子出生的地方开始，那些赞美他的人的意愿和痛苦将开启一切。</p></li>
                                        <li><h4>我的故事<span class="iconfont icon-youjiantou"></span></h4></li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#">Works<br><span class="iconfont icon-dot"></span></a>
                        <div class="top_nav_div">
                            <div class="top_nav">
                                <div class="nav_item">
                                    <ol>
                                        <li><p>- 我的工作</p></li>
                                        <li><h2>计算机科学与技术，平面设计<br></h2></li>
                                        <li><p>要从孩子出生的地方开始，那些赞美他的人的意愿和痛苦将开启一切。</p></li>
                                        <li><h4>我的故事<span class="iconfont icon-youjiantou"></span></h4></li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#">Github<br><span class="iconfont icon-dot"></span></a>
                        <div class="top_nav_div">
                            <div class="top_nav">
                                <div class="nav_item">
                                    <ol>
                                        <li><p>- zg949a</p></li>
                                        <li><h2>zg949a为个人账号，内部仓库均为练习项目</h2></li>
                                        <li><p>https://github.com/zg949a/Main_home.git <br>这是一个个人创建的小组项目，非本网页</p></li>
                                        <li><h4>zg949a<span class="iconfont icon-youjiantou"></span></h4></li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    </header>
    <div class="banner">
        <div class="left">
            <span>--Contact</span>
            <h3>Any Type Of Query & Discussion</h3>
            <p>Sed ut perspiciatis undo omnis iste natus error sit voluptatem accsantium.</p>
            <h4><a href="https://github.com/zg949a/Main_home">github.com</a></h4>
        </div>
        <div class="right">
            <h3>一个人用不尽的只有你的创造力，<br>你用得越多，<br>你的创造性思想就会越多。</h3>
            <p>Sed ut perspiciatis undo omnis iste natus error sit voluptatem accsantium doloremque laudantium, totam rem aperiam, eaque ipsa.</p>
            <h4>21</h4><span>age</span>
        </div>
    </div>
    <div class="bo">
        <div class="one"><span class="iconfont icon-box"></span>
            <a href="#">Product Designer.</a>
        </div>        
        <div class="two"><span class="iconfont icon-pen"></span>
            <a href="#">Branding Designer.</a>
        </div>
        <div class="three"><span class="iconfont icon-display1"></span>
            <a href="#">Full Stack Developer.</a>
        </div>
    </div>
    <div class="main
        <img id="one" src="../static/images/1.gif" alt="">
        <div class="main_left">
            <span>--投资组合</span>
            <h3>所有创意项目作品，<br>精选项目。</h3>
            <p>Sed ut perspiciatis undo omnis iste natus error sit voluptatem accusantium.</p>
            <h4>Explore more</h4>
        </div>
        <div class="img_box">
            <img id="two" src="../static/images/2.gif" alt="">
            <img id="three" src="../static/images/3.gif" alt="">
            <img id="four" src="../static/images/4.gif" alt="">
        </div>
    </div>
    <div class="leg">
        <div class="left">
            <span>--Blog</span>
            <h3>What's new?<br>My blog and news.</h3>
            <div id="img_box">
                <img src="https://images.pexels.com/photos/10370307/pexels-photo-10370307.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load" alt="">
            </div>
        </div>
        <div class="right">
            <p><span>Feb 26.Blog</span> <a>让它成为你的教训</a></p>
            <p><span>Feb 14.Blog</span> <a>你如何将时间花费与项目<a></p>
            <p><span>Feb 09.Blog</span> <a>设计中的自我和强调</a></p>
            <div id="section">
                <a href="https://blog.csdn.net/weixin_61745277/article/details/125064137?spm=1001.2014.3001.5501"><h2>快来看看我的Debian配置笔记吧！Debian安装Alacritty笔记<h2><br><h3>zg949a</h3><br>CSDN</a>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="left">
            <h3>有项目吗？让我们谈谈吧</h3>
            <p>Sed ut perspiciatis undo omnis iste natus error sit voluptatem accsantium.</p>
            <h4><a href="https://github.com/zg949a/Main_home">github.com</a></h4>
        </div>
        <div class="right">
            <span>想要评估你的项目吗？在这里让我知道</span>
            <p>What's your name?</p>
            <p>Your facy email</p>
            <p>Tell me about your project</p>
        </div>
        <div class="final">
            <div class="one"><span class="iconfont icon-a-weixiaokaixingaoxing-16"></span></div>
            <p>Thanks for scroolling. this's all folks.</p>
            <div id="last">
                <div class="two"><span class="iconfont icon-lanqiu"></span></div>
                <div class="three"><span class="iconfont icon-yinle"></span></div>
                <div class="four"><span class="iconfont icon-sousuo"></span></div>
            </div>
        </div>
    </div>
</body>
</html>